@import "../../../public/assets/styles/colors.scss";

.wrapper {
    background-color: $black-haze;
    flex: 1;
    padding: 2rem 3rem;
    .header-wrapper {
        align-items: center;
        display: flex;
        margin-bottom: 1rem;
        .add-new-button {
            margin-left: 2rem;
        }
        .plus-button {
            color: $san-marino;
            display: none;
        }
        .filters-wrapper {
            align-items: center;
            display: flex;
            margin-left: auto;
            p {
                color: $cadet-blue;
                font-size: 1rem;
                &.clear-all {
                    color: $mariner;
                    cursor: pointer;
                    font-size: 1rem;
                    margin-left: 1rem;
                    text-decoration: underline;
                }
            }
            .company-select {
                background-color: white;
                margin-left: 1rem;
                margin-right: 2rem;
                div {
                    padding: 0.25rem;
                }
                label {
                    margin-top: -0.4rem;
                }
            }
            .input {
                background-color: white;
                input {
                    padding: 0.5rem;
                }
                label {
                    margin-top: -0.4rem;
                }
            }
        }
    }
    .no-results {
        color: $comet;
        font-size: 1rem;
        padding: 2rem 0;
        text-align: center;
        word-break: break-word;
    }
}

.edit-button {
    align-items: center;
    display: flex;
    float: right;
    padding: 0.2rem 0.5rem !important;
    word-break: keep-all;
    svg {
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 1200px) {
    .header-wrapper {
        flex-wrap: wrap;
        .filters-wrapper {
            margin: 1rem 0;
            width: 100%;
        }
    }
}

@media screen and (max-width: 760px) {
    .wrapper {
        .header-wrapper {
            .filters-wrapper {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                margin: 0;
                div,
                p {
                    margin-left: 0 !important;
                }
                .input,
                .company-select {
                    margin: 0.8rem 0;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .wrapper {
        .header-wrapper {
            .plus-button {
                display: block;
            }
            .add-new-button {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .wrapper {
        .header-wrapper {
            h1 {
                font-size: 1.8rem;
            }
            .plus-button {
                svg {
                    font-size: 1.8rem;
                }
            }
        }
    }
}
