.wrapper {
    flex: 1;
    padding: 1rem 2rem;
    .content {
        padding: 1rem;
        .row {
            align-items: center;
            display: flex;
            margin-bottom: 1rem;
            .label {
                color: gray;
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
                width: 10rem;
            }
            .value {
                font-size: 1.4rem;
                font-weight: 500;
                margin-left: 1rem;
            }
        }
    }
}
