@import "../../../public/assets/styles/colors.scss";

.wrapper {
    flex: 1;
    .header-wrapper {
        align-items: center;
        background-color: $black-haze;
        border-bottom-right-radius: 10rem;
        display: flex;
        padding: 4rem 6rem;
        position: relative;
        h1 {
            margin: 0.2rem 0;
        }
        .separator {
            margin: 0 1rem;
        }
        .back-icon {
            cursor: pointer;
            left: 2rem;
            position: absolute;
            top: 2rem;
        }
    }
    .content {
        padding: 4rem 4rem 4rem 10rem;
        .field-wrapper {
            margin-bottom: 2rem;
            .label {
                color: $cadet-blue;
                font-size: 0.9rem;
                font-weight: 600;
                text-transform: uppercase;
                width: 10rem;
            }
            .value {
                font-size: 1.2rem;
                font-weight: 500;
                margin-left: 1rem;
                margin-top: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        .header-wrapper {
            flex-direction: column;
            justify-content: center;
            padding: 0;
            padding: 2rem;
            text-align: center;
            .back-icon {
                display: none;
            }
            .separator {
                display: none;
            }
        }
        .content {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 4rem 0;
        }
    }
}

@media screen and (max-width: 450px) {
    .wrapper {
        .header-wrapper {
            h1 {
                font-size: 1.5rem;
            }
        }
    }
}
