@import "../../../public/assets/styles/colors.scss";

.wrapper {
    border-radius: 0.3rem;
    box-shadow: none !important;
    thead {
        background-color: $catskill-white;
        text-transform: uppercase;
        th {
            white-space: nowrap;
            span {
                color: $comet;
                font-size: 0.8rem;
            }
        }
    }
    .cell {
        position: relative;
    }
}
